In [ ]:
pip install --upgrade pip

In [4]:
import pandas as pd

In [5]:
data = pd.read_csv("data/jobs_in_data.csv")
data.head()

,work_year,job_title,job_category,salary_currency,salary,salary_in_usd,employee_residence,experience_level,employment_type,work_setting,company_location,company_size
0,2023,Data DevOps Engineer,Data Engineering,EUR,88000,95012,Germany,Mid-level,Full-time,Hybrid,Germany,L
1,2023,Data Architect,Data Architecture and Modeling,USD,186000,186000,United States,Senior,Full-time,In-person,United States,M
2,2023,Data Architect,Data Architecture and Modeling,USD,81800,81800,United States,Senior,Full-time,In-person,United States,M
3,2023,Data Scientist,Data Science and Research,USD,212000,212000,United States,Senior,Full-time,In-person,United States,M
4,2023,Data Scientist,Data Science and Research,USD,93300,93300,United States,Senior,Full-time,In-person,United States,M

### This data is for 2023 which reports interesting information such as:
 1. Job title - can pull data on most common and least common job title
 2. Job category - most popular category
 3. Different countries
 4. Highest paying salary for each job title at each experience_level
 5. How many people who don't reside in company location
 6. Count of people in the different work settings
   
### We can also ask the questions:
 1. Does different work settings make a difference in salary of someone with the same experience level?
 2. Does company size have more or less of certain work settings (i.e. does a large (L) company have 80% Hybrid workers or does a small (S) company have more remote workers)?

In [14]:
job_title_counts = data['job_title'].value_counts()
job_title_counts

job_title
Data Engineer                     2195
Data Scientist                    1989
Data Analyst                      1388
Machine Learning Engineer          991
Applied Scientist                  272
                                  ...
Consultant Data Engineer             1
Sales Data Analyst                   1
Managing Director Data Science       1
AWS Data Architect                   1
Deep Learning Researcher             1
Name: count, Length: 125, dtype: int64

In [16]:
top_job = job_title_counts.index[0]
top_job

'Data Engineer'

In [8]:
job_title_counts_max = job_title_counts.max()
job_title_counts_min = job_title_counts.min()

job_title_counts_max

2195